body{
    color: black;
    background-color: #46465242;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #023373;
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}



.projetos ul{
    list-style-type: disc;
    padding: 10px;
    flex-direction: column;
}


a{
    text-decoration: none;
    color: black;
}


img{
    border-radius: 75%;
    border: 5px solid #46465291;
}

.center{
    text-align: center;
    color: #CAD8F7;
    background-color: #2DACE2;
}

.center img{
    margin-top: 0.5%;
}

h2{
    text-align: center;
    color: #0d7bbfad;
}

p{
    padding-left: 1%;
    font-size: 20px;
}

footer img{
    width: 45px;
    height: 45px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a {
    margin: 10px;

}

footer p{
    margin-top: 4px;
}